Flask==2.0.2
gunicorn
psycopg2-binary
Werkzeug==2.0.2
Flask-Bootstrap
Flask-Script
Flask-WTF
Flask-SQLAlchemy==2.5.1  # Especifica una versión estable
SQLAlchemy==1.4.27  # Versión estable y compatible con Flask-SQLAlchemy
WTForms
Flask-Login
prometheus-flask-exporter==0.18.0

