Flask==2.0.2
gunicorn
psycopg2-binary  # Usualmente se usa psycopg2-binary en lugar de psycopg2
Werkzeug==2.0.2  
Flask-Bootstrap
Flask-Script
Flask-WTF
Flask-SQLAlchemy
WTForms
Flask-Login
prometheus-flask-exporter==0.18.0
